@import "tailwindcss";

html {
    background-color: #f3f4f6;
}

body {
    margin: 0;
    font-family: "Be Vietnam Pro", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#app {
    min-height: 100vh;
}
